html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

canvas {
    outline-style: none;
    float:left;
}

#game {
    outline-style: none;
    float:left;
}

#instructions {
    float:left;
    width:20%;
}
